<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Instructions</title>
</head>
<body>
<div id ="ins">
    <ol>
        <li>Enter DNA Sequence such that A should replace adenine, G for guanine , T for thymine and C for cytosine.</li>
        <li>Do not enter any character other then A,T,G,C.</li>
        <li>The sequence may contain spaces and enters.</li>
        <li>If your sequence doesn't have start codon, you will not get amino acid.</li>
    </ol>

</div>
</body>
</html>